/*Global*/
body {text-transform: none;}
h1, h2, h3 {margin: 10px 0!important; font-weight: bolder;}
.ui-page {background: #333!important }
.ui-li-heading {margin: 0 0 10px!important}
.time {font-size: 10px; float: right;}
#textarea {height: 100px}
p#img{text-align: center; height: 250px; position: relative; top: 70%}
h1#notification, #empty {color: #fff; text-align: center; font-weight: normal;}

.ui-listview > .ui-li,
input.ui-input-text {zoom: 1.5;}

textarea.ui-input-text {height: 150px!important;}
span.ui-btn-text {font-size: 20px!important}